<% string_fields = ProjectCustomField.all %>
<% select_options = '<option value="">(Select one)</option>' << options_from_collection_for_select(string_fields, :id, :name, @settings['tab_text'].to_i) %>

<fieldset>
<legend><%= l(:tab_text_project_specific) %></legend>
<p><label><%= l(:tab_label_tab_name) %></label>
<%= text_field_tag 'settings[tab_name]', @settings['tab_name'] %><br />
</p>

<p><label><%= l(:tab_label_tab_text) %></label>
<%= select_tag 'settings[tab_text]', select_options.html_safe %><br />
</p>
</fieldset>

<fieldset>
<legend><%= l(:tab_text_systemwide) %></legend>
<p><label><%= l(:tab_label_tab_name) %></label>
<%= text_field_tag 'settings[system_tab_name]', @settings['system_tab_name'] %><br />
</p>

<p><label><%= l(:tab_label_tab_text) %></label>
<%= text_area_tag 'settings[system_tab_text]', @settings['system_tab_text'] %><br />
</p>
</fieldset>
